{{#each this}}
<div class="country-info__main">
  <img class="country-info__image" src="{{this.flags.png}}" alt="Flag of {{this.name.common}}">
  <h2 class="country-info__name">{{this.name.official}}</h2>
</div>
<ul class="country-info__detailed">
  <li><p class="country-info__text"><b>Capital:</b> {{this.capital}}</p></li>
  <li><p class="country-info__text"><b>Population:</b> {{this.population}}</p></li>
  <li><p class="country-info__text"><b>Languages:</b> {{#each this.languages}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</p></li> 
</ul>
{{/each}}